In [25]:
pip install pandas

Requirement already satisfied: pandas in c:\users\hp\anaconda3\envs\live_project\lib\site-packages (2.3.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\hp\anaconda3\envs\live_project\lib\site-packages (from pandas) (2.3.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\hp\anaconda3\envs\live_project\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\hp\anaconda3\envs\live_project\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\hp\anaconda3\envs\live_project\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\hp\anaconda3\envs\live_project\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [26]:
import pandas as pd

In [27]:
pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\hp\anaconda3\envs\live_project\lib\site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in c:\users\hp\anaconda3\envs\live_project\lib\site-packages (from openpyxl) (2.0.0)
Note: you may need to restart the kernel to use updated packages.

In [232]:
df = pd.read_csv("C:/Users/HP/OneDrive/Desktop/liveproject/why.csv")

In [233]:
df.head()

,ID,Pipeline,Repeat deal,Repeat inquiry,Stage,Responsible,Deal Name,Type,Source,Income,...,Contact: Created by,Contact: Created on,Contact: Modified by,Contact: Modified on,Contact: Educational Qualification,Contact: Select a Course,Contact: Select Educational Qualification,Contact: Select Year of Passing,Contact: Year of Passing,Contact: Sub Source(Tracking)
0,84490,Sales,N,Y,Tele Counselled,Sathiya Natarajan,"Complete CRM form ""Navbar & CTA""",not selected,Website,0,...,NaN,22.09.2025 01:58:52 pm,Sathiya Natarajan,22.09.2025 06:31:41 pm,NaN,NaN,NaN,NaN,2024,Why_Sk_HQ_03_SEP_12th_2025
1,84138,Sales,N,N,New Lead,Gayyo Lovees,"Complete CRM form ""IGS - Merit Based Scholarsh...",not selected,Influencer,0,...,NaN,21.09.2025 06:58:31 am,NaN,21.09.2025 06:58:31 am,NaN,Certification in Data Analytics,NaN,2024.0,NaN,jobs for you tamizha
2,80194,Sales,N,N,New Lead,Gayyo Lovees,"Complete CRM form ""IGS - Merit Based Scholarsh...",not selected,Influencer,0,...,NaN,12.09.2025 07:41:43 pm,NaN,12.09.2025 07:41:43 pm,NaN,Certification in Data Analytics,NaN,2023.0,NaN,jobs for you tamizha
3,77118,Sales,N,N,Tele Counselled,Kaveri C,"Complete CRM form ""Navbar & CTA""",not selected,Website,0,...,NaN,09.09.2025 08:29:20 am,NaN,09.09.2025 08:29:20 am,NaN,Certification in Data Analytics,Bachelor's Degree,2023.0,NaN,Navbar & CTA
4,89606,Sales,N,Y,Enquired Again,Navanitha Sakthi,"Complete CRM form ""Navbar & CTA""",not selected,Website,0,...,NaN,08.09.2025 01:10:25 pm,Ahila M,08.09.2025 01:15:07 pm,UG,NaN,NaN,NaN,2024,WHY TAP | SK - DA | CHENNAI

In [234]:
df.shape

(1506, 48)

In [235]:
df.info(
)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1506 entries, 0 to 1505
Data columns (total 48 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   ID                                         1506 non-null   object
 1   Pipeline                                   1506 non-null   object
 2   Repeat deal                                1506 non-null   object
 3   Repeat inquiry                             1506 non-null   object
 4   Stage                                      1506 non-null   object
 5   Responsible                                1506 non-null   object
 6   Deal Name                                  1506 non-null   object
 7   Type                                       1506 non-null   object
 8   Source                                     1499 non-null   object
 9   Income                                     1506 non-null   int64
 10  Currency                                   1506 non-null   object
 11  Contact                                    1504 non-null   object
 12  Closed                                     1506 non-null   object
 13  Created                                    1506 non-null   object
 14  Created by                                 699 non-null    object
 15  Modified                                   1506 non-null   object
 16  Modified by                                1475 non-null   object
 17  Start date                                 1506 non-null   object
 18  Assumed close date                         1506 non-null   object
 19  Comment                                    1387 non-null   object
 20  Stage changed by                           1506 non-null   int64
 21  Stage change date                          1506 non-null   object
 22  Course pitched                             786 non-null    object
 23  Select a Course                            65 non-null     object
 24  Select Year of Passing                     710 non-null    float64
 25  Year of Passing                            1240 non-null   object
 26  Sub Source(Tracking)                       1119 non-null   object
 27  Last updated on                            1506 non-null   object
 28  Last contact                               1431 non-null   object
 29  Contact: ID                                1504 non-null   float64
 30  Contact: Photo                             0 non-null      float64
 31  Contact: First name                        1500 non-null   object
 32  Contact: Last name                         37 non-null     object
 33  Contact: Contact type                      1504 non-null   object
 34  Contact: Responsible person                1504 non-null   object
 35  Contact: Source                            1504 non-null   object
 36  Contact: Source information                490 non-null    object
 37  Contact: Included in export                1504 non-null   object
 38  Contact: Created by                        665 non-null    object
 39  Contact: Created on                        1504 non-null   object
 40  Contact: Modified by                       961 non-null    object
 41  Contact: Modified on                       1504 non-null   object
 42  Contact: Educational Qualification         1002 non-null   object
 43  Contact: Select a Course                   39 non-null     object
 44  Contact: Select Educational Qualification  98 non-null     object
 45  Contact: Select Year of Passing            129 non-null    float64
 46  Contact: Year of Passing                   999 non-null    object
 47  Contact: Sub Source(Tracking)              1062 non-null   object
dtypes: float64(4), int64(2), object(42)
memory usage: 564.9+ KB

In [236]:
cleaned_df=df['Stage'].dropna().unique()
cleaned_df

array(['Tele Counselled', 'New Lead', 'Enquired Again',
       'Contact Attempted', 'Lost Deal', 'Follow Up', 'Other Courses',
       'Interested | Join Later', 'Interested | Fees Not Affordable',
       'Enrolled', 'Scheduled Walk-in', 'Not Eligible', 'Not Enquired',
       'Not Reachable', 'Not Picking', 'Counselled',
       'Internship(Enquiry)', 'Invalid/Irrelevant Number', 'Duplicate',
       'Switched Off', 'Hot Prospect', 'Interested | Parents Rejected'],
      dtype=object)

In [237]:
conversion_stages = df['Stage'].isin(['Joined', 'Closed Won'])

In [34]:
conversion_stages

0       False
1       False
2       False
3       False
4       False
        ...
1501    False
1502    False
1503    False
1504    False
1505    False
Name: Stage, Length: 1506, dtype: bool

In [238]:
converted_leads=df["ID"].count()
converted_leads

np.int64(1506)

In [239]:
df["Source"and"Closed"].value_counts()

Closed
no     1202
yes     304
Name: count, dtype: int64

whytap Conversion & performance of leeds

In [240]:
Conversion_performance= df.groupby("Source")["Closed"].value_counts().unstack(fill_value=0)
Conversion_performance

Closed              no  yes
Source
CRM form            21    4
Call                15    5
E-Mail               1    0
Event                1    1
Google AD           23   15
Influencer          11    0
Instagram           48    6
Meta AD            816  182
Repeat sales        17   10
Student Reference    2    1
Walk-in              5    1
Website             62   12
WhatsApp           173   66
not selected         0    1

In [241]:
high_cover=Conversion_performance.sort_values(by=["yes","no"],ascending=[False,False]).reset_index()

In [91]:
high_cover

Closed             Source   no  yes
0                 Meta AD  816  182
1                WhatsApp  173   66
2               Google AD   23   15
3                 Website   62   12
4            Repeat sales   17   10
5               Instagram   48    6
6                    Call   15    5
7                CRM form   21    4
8                 Walk-in    5    1
9       Student Reference    2    1
10                  Event    1    1
11           not selected    0    1
12             Influencer   11    0
13                 E-Mail    1    0

In [242]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1506 entries, 0 to 1505
Data columns (total 48 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   ID                                         1506 non-null   object
 1   Pipeline                                   1506 non-null   object
 2   Repeat deal                                1506 non-null   object
 3   Repeat inquiry                             1506 non-null   object
 4   Stage                                      1506 non-null   object
 5   Responsible                                1506 non-null   object
 6   Deal Name                                  1506 non-null   object
 7   Type                                       1506 non-null   object
 8   Source                                     1499 non-null   object
 9   Income                                     1506 non-null   int64
 10  Currency                                   1506 non-null   object
 11  Contact                                    1504 non-null   object
 12  Closed                                     1506 non-null   object
 13  Created                                    1506 non-null   object
 14  Created by                                 699 non-null    object
 15  Modified                                   1506 non-null   object
 16  Modified by                                1475 non-null   object
 17  Start date                                 1506 non-null   object
 18  Assumed close date                         1506 non-null   object
 19  Comment                                    1387 non-null   object
 20  Stage changed by                           1506 non-null   int64
 21  Stage change date                          1506 non-null   object
 22  Course pitched                             786 non-null    object
 23  Select a Course                            65 non-null     object
 24  Select Year of Passing                     710 non-null    float64
 25  Year of Passing                            1240 non-null   object
 26  Sub Source(Tracking)                       1119 non-null   object
 27  Last updated on                            1506 non-null   object
 28  Last contact                               1431 non-null   object
 29  Contact: ID                                1504 non-null   float64
 30  Contact: Photo                             0 non-null      float64
 31  Contact: First name                        1500 non-null   object
 32  Contact: Last name                         37 non-null     object
 33  Contact: Contact type                      1504 non-null   object
 34  Contact: Responsible person                1504 non-null   object
 35  Contact: Source                            1504 non-null   object
 36  Contact: Source information                490 non-null    object
 37  Contact: Included in export                1504 non-null   object
 38  Contact: Created by                        665 non-null    object
 39  Contact: Created on                        1504 non-null   object
 40  Contact: Modified by                       961 non-null    object
 41  Contact: Modified on                       1504 non-null   object
 42  Contact: Educational Qualification         1002 non-null   object
 43  Contact: Select a Course                   39 non-null     object
 44  Contact: Select Educational Qualification  98 non-null     object
 45  Contact: Select Year of Passing            129 non-null    float64
 46  Contact: Year of Passing                   999 non-null    object
 47  Contact: Sub Source(Tracking)              1062 non-null   object
dtypes: float64(4), int64(2), object(42)
memory usage: 564.9+ KB

In [41]:
df.dtypes

ID                                            object
Pipeline                                      object
Repeat deal                                   object
Repeat inquiry                                object
Stage                                         object
Responsible                                   object
Deal Name                                     object
Type                                          object
Source                                        object
Income                                         int64
Currency                                      object
Contact                                       object
Closed                                        object
Created                                       object
Created by                                    object
Modified                                      object
Modified by                                   object
Start date                                    object
Assumed close date                            object
Comment                                       object
Stage changed by                               int64
Stage change date                             object
Course pitched                                object
Select a Course                               object
Select Year of Passing                       float64
Year of Passing                               object
Sub Source(Tracking)                          object
Last updated on                               object
Last contact                                  object
Contact: ID                                  float64
Contact: Photo                               float64
Contact: First name                           object
Contact: Last name                            object
Contact: Contact type                         object
Contact: Responsible person                   object
Contact: Source                               object
Contact: Source information                   object
Contact: Included in export                   object
Contact: Created by                           object
Contact: Created on                           object
Contact: Modified by                          object
Contact: Modified on                          object
Contact: Educational Qualification            object
Contact: Select a Course                      object
Contact: Select Educational Qualification     object
Contact: Select Year of Passing              float64
Contact: Year of Passing                      object
Contact: Sub Source(Tracking)                 object
dtype: object

In [243]:
df.groupby("Select a Course")["Closed"].value_counts().unstack(fill_value="unselect")

Closed                                              no       yes
Select a Course
Basic to Advanced Video Editing with AI              1  unselect
Certification in Data Analytics                      7  unselect
Other                                               13         3
PG Certification in AI powered Data Science          5         3
PG Certification in AI powered Digital Marketing    19         1
PG Certification in AI powered Full Stack Devel...  13  unselect

In [244]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1506 entries, 0 to 1505
Data columns (total 48 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   ID                                         1506 non-null   object
 1   Pipeline                                   1506 non-null   object
 2   Repeat deal                                1506 non-null   object
 3   Repeat inquiry                             1506 non-null   object
 4   Stage                                      1506 non-null   object
 5   Responsible                                1506 non-null   object
 6   Deal Name                                  1506 non-null   object
 7   Type                                       1506 non-null   object
 8   Source                                     1499 non-null   object
 9   Income                                     1506 non-null   int64
 10  Currency                                   1506 non-null   object
 11  Contact                                    1504 non-null   object
 12  Closed                                     1506 non-null   object
 13  Created                                    1506 non-null   object
 14  Created by                                 699 non-null    object
 15  Modified                                   1506 non-null   object
 16  Modified by                                1475 non-null   object
 17  Start date                                 1506 non-null   object
 18  Assumed close date                         1506 non-null   object
 19  Comment                                    1387 non-null   object
 20  Stage changed by                           1506 non-null   int64
 21  Stage change date                          1506 non-null   object
 22  Course pitched                             786 non-null    object
 23  Select a Course                            65 non-null     object
 24  Select Year of Passing                     710 non-null    float64
 25  Year of Passing                            1240 non-null   object
 26  Sub Source(Tracking)                       1119 non-null   object
 27  Last updated on                            1506 non-null   object
 28  Last contact                               1431 non-null   object
 29  Contact: ID                                1504 non-null   float64
 30  Contact: Photo                             0 non-null      float64
 31  Contact: First name                        1500 non-null   object
 32  Contact: Last name                         37 non-null     object
 33  Contact: Contact type                      1504 non-null   object
 34  Contact: Responsible person                1504 non-null   object
 35  Contact: Source                            1504 non-null   object
 36  Contact: Source information                490 non-null    object
 37  Contact: Included in export                1504 non-null   object
 38  Contact: Created by                        665 non-null    object
 39  Contact: Created on                        1504 non-null   object
 40  Contact: Modified by                       961 non-null    object
 41  Contact: Modified on                       1504 non-null   object
 42  Contact: Educational Qualification         1002 non-null   object
 43  Contact: Select a Course                   39 non-null     object
 44  Contact: Select Educational Qualification  98 non-null     object
 45  Contact: Select Year of Passing            129 non-null    float64
 46  Contact: Year of Passing                   999 non-null    object
 47  Contact: Sub Source(Tracking)              1062 non-null   object
dtypes: float64(4), int64(2), object(42)
memory usage: 564.9+ KB

In [245]:
df[df["Contact"] == "Balakumar"][df["Course pitched"]== "Certification in Data Analytics"]

C:\Users\HP\AppData\Local\Temp\ipykernel_16856\2254234334.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df[df["Contact"] == "Balakumar"][df["Course pitched"]== "Certification in Data Analytics"]

,ID,Pipeline,Repeat deal,Repeat inquiry,Stage,Responsible,Deal Name,Type,Source,Income,...,Contact: Created by,Contact: Created on,Contact: Modified by,Contact: Modified on,Contact: Educational Qualification,Contact: Select a Course,Contact: Select Educational Qualification,Contact: Select Year of Passing,Contact: Year of Passing,Contact: Sub Source(Tracking)
1346,64918,Sales,N,N,Enrolled,Sophia N D,Bala,not selected,Call,25000,...,Sophia N D,06.08.2025 09:05:09 am,Ajin G Das,08.08.2025 02:53:02 pm,NaN,NaN,NaN,NaN,NaN,NaN
1470,#####,Sales,N,N,Enrolled,Sophia N D,Bala,not selected,Call,25000,...,Sophia N D,06.08.2025 09:05:09 am,Ajin G Das,08.08.2025 02:53:02 pm,NaN,NaN,NaN,NaN,NaN,NaN

In [246]:
df[df["Course pitched"]== "Certification in Data Analytics"]

,ID,Pipeline,Repeat deal,Repeat inquiry,Stage,Responsible,Deal Name,Type,Source,Income,...,Contact: Created by,Contact: Created on,Contact: Modified by,Contact: Modified on,Contact: Educational Qualification,Contact: Select a Course,Contact: Select Educational Qualification,Contact: Select Year of Passing,Contact: Year of Passing,Contact: Sub Source(Tracking)
3,77118,Sales,N,N,Tele Counselled,Kaveri C,"Complete CRM form ""Navbar & CTA""",not selected,Website,0,...,NaN,09.09.2025 08:29:20 am,NaN,09.09.2025 08:29:20 am,NaN,Certification in Data Analytics,Bachelor's Degree,2023.0,NaN,Navbar & CTA
7,76438,Sales,N,N,Tele Counselled,Sathiya Natarajan,Online store order #66,not selected,Influencer,0,...,Ahila M,05.09.2025 07:39:28 pm,NaN,05.09.2025 07:40:50 pm,NaN,NaN,NaN,NaN,NaN,NaN
17,73930,Sales,N,Y,Follow Up,Ramya Sathish,"Complete CRM form ""WHY TAP | SK - DA | CHENNAI""",not selected,Meta AD,0,...,Kaveri C,16.08.2025 03:35:32 am,Meena Arunachalam,10.09.2025 10:24:41 am,NaN,Other,Bachelor's Degree,2024.0,NaN,Navbar & CTA
18,#####,Sales,N,Y,Follow Up,Ramya Sathish,"Complete CRM form ""WHY TAP | SK - DA | CHENNAI""",not selected,Meta AD,0,...,Kaveri C,16.08.2025 03:35:32 am,Meena Arunachalam,10.09.2025 10:24:41 am,NaN,Other,Bachelor's Degree,2024.0,NaN,Navbar & CTA
21,62610,Sales,N,N,Tele Counselled,Sathiya Natarajan,THULASIDASS,not selected,Website,0,...,Ahila M,25.07.2025 06:08:47 pm,Ahila M,25.07.2025 06:08:47 pm,NaN,Other,Bachelor's Degree,2024.0,NaN,Navbar & CTA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1489,#####,Sales,N,N,Not Picking,Supraja Baalajee,"Complete CRM form ""WHY TAP – Data Analyst- TN 01""",not selected,Meta AD,0,...,Rajalakshmi Govindarajan,27.07.2025 02:22:28 am,Rajalakshmi Govindarajan,27.07.2025 02:22:28 am,NaN,NaN,NaN,NaN,2024,WHY TAP – Data Analyst- TN 01
1490,5568,Sales,N,N,Tele Counselled,Supraja Baalajee,Harsha Vardhan,Courses,Meta AD,0,...,Rajalakshmi Govindarajan,16.07.2025 12:25:47 am,Ahila M,12.08.2025 03:23:16 pm,NaN,NaN,NaN,NaN,NaN,NaN
1492,77770,Sales,N,N,Tele Counselled,Vignesh R,Lead #195058,not selected,Website,0,...,Ahila M,10.09.2025 01:18:52 pm,Ahila M,24.09.2025 10:30:34 am,NaN,NaN,NaN,NaN,NaN,Job enquiry
1496,64504,Sales,N,Y,Not Eligible,Vignesh R,"Complete CRM form ""LP - DA Link: https://whyta...",not selected,Google AD,0,...,Vignesh R,02.08.2025 01:10:46 am,Vignesh R,06.08.2025 02:45:02 pm,NaN,NaN,12th,2014.0,NaN,https://whytap.in/certification-in-data-analytics
1499,#####,Sales,N,N,Follow Up,Vignesh R,"Complete CRM form ""WHY TAP – Data Analyst- TN 01""",not selected,Meta AD,0,...,Vignesh R,06.08.2025 12:55:10 pm,Ajin G Das,13.08.2025 05:05:01 pm,NaN,NaN,NaN,NaN,2023,WHY TAP – Data Analyst- TN 01

In [247]:
pip install seaborn

Requirement already satisfied: seaborn in c:\users\hp\anaconda3\envs\live_project\lib\site-packages (0.13.2)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in c:\users\hp\anaconda3\envs\live_project\lib\site-packages (from seaborn) (2.3.3)
Requirement already satisfied: pandas>=1.2 in c:\users\hp\anaconda3\envs\live_project\lib\site-packages (from seaborn) (2.3.3)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in c:\users\hp\anaconda3\envs\live_project\lib\site-packages (from seaborn) (3.10.7)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\hp\anaconda3\envs\live_project\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.3.3)
Requirement already satisfied: cycler>=0.10 in c:\users\hp\anaconda3\envs\live_project\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\hp\anaconda3\envs\live_project\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.60.1)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\hp\anaconda3\envs\live_project\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.9)
Requirement already satisfied: packaging>=20.0 in c:\users\hp\anaconda3\envs\live_project\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (25.0)
Requirement already satisfied: pillow>=8 in c:\users\hp\anaconda3\envs\live_project\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (11.3.0)
Requirement already satisfied: pyparsing>=3 in c:\users\hp\anaconda3\envs\live_project\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.2.5)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\hp\anaconda3\envs\live_project\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\hp\anaconda3\envs\live_project\lib\site-packages (from pandas>=1.2->seaborn) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\hp\anaconda3\envs\live_project\lib\site-packages (from pandas>=1.2->seaborn) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\hp\anaconda3\envs\live_project\lib\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [248]:
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd

In [249]:
df['Created']=pd.to_datetime(df['Created'])
df["Created"] = df["Created"].dt.date

C:\Users\HP\AppData\Local\Temp\ipykernel_16856\1624590741.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Created']=pd.to_datetime(df['Created'])

In [250]:
print(df['Closed'].unique())

['no' 'yes']

In [251]:
df['Closed'] = df['Closed'].astype('category')

In [253]:
df["Modified"]=pd.to_datetime(df["Modified"])
df["Start date"]=pd.to_datetime(df["Start date"])
df["Assumed close date"]=pd.to_datetime(df["Assumed close date"])

C:\Users\HP\AppData\Local\Temp\ipykernel_16856\4045302491.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df["Modified"]=pd.to_datetime(df["Modified"])
C:\Users\HP\AppData\Local\Temp\ipykernel_16856\4045302491.py:2: UserWarning: Parsing dates in %d.%m.%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df["Start date"]=pd.to_datetime(df["Start date"])
C:\Users\HP\AppData\Local\Temp\ipykernel_16856\4045302491.py:3: UserWarning: Parsing dates in %d.%m.%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df["Assumed close date"]=pd.to_datetime(df["Assumed close date"])

In [255]:
df.head(2)

,ID,Pipeline,Repeat deal,Repeat inquiry,Stage,Responsible,Deal Name,Type,Source,Income,...,Contact: Created by,Contact: Created on,Contact: Modified by,Contact: Modified on,Contact: Educational Qualification,Contact: Select a Course,Contact: Select Educational Qualification,Contact: Select Year of Passing,Contact: Year of Passing,Contact: Sub Source(Tracking)
0,84490,Sales,N,Y,Tele Counselled,Sathiya Natarajan,"Complete CRM form ""Navbar & CTA""",not selected,Website,0,...,NaN,22.09.2025 01:58:52 pm,Sathiya Natarajan,22.09.2025 06:31:41 pm,NaN,NaN,NaN,NaN,2024,Why_Sk_HQ_03_SEP_12th_2025
1,84138,Sales,N,N,New Lead,Gayyo Lovees,"Complete CRM form ""IGS - Merit Based Scholarsh...",not selected,Influencer,0,...,NaN,21.09.2025 06:58:31 am,NaN,21.09.2025 06:58:31 am,NaN,Certification in Data Analytics,NaN,2024.0,NaN,jobs for you tamizha

Sales_by_person

In [278]:
yes= df.groupby("Responsible")["Closed"].value_counts().unstack(fill_value=0)
yes

Closed                     no  yes
Responsible
Ahila M                     2    0
Dhanalakshmi D             37    5
Gayyo Lovees               48    1
Harini P                  139   49
Kaveri C                  149   43
Meena Arunachalam         110   32
Monisha R                   2    0
Navanitha Sakthi           40    0
Naveen kumar               55    9
Pratheep Kumar P          143   19
Rajalakshmi Govindarajan  142   18
Ramya Sathish              47   74
Sathiya Natarajan         110   15
Sophia N D                153   31
Supraja Baalajee           12    4
Vignesh R                  13    4

In [279]:
Conversion_performance= df.groupby("Source")["Closed"].value_counts().unstack(fill_value=0)
Conversion_performance

Closed              no  yes
Source
CRM form            21    4
Call                15    5
E-Mail               1    0
Event                1    1
Google AD           23   15
Influencer          11    0
Instagram           48    6
Meta AD            816  182
Repeat sales        17   10
Student Reference    2    1
Walk-in              5    1
Website             62   12
WhatsApp           173   66
not selected         0    1

In [280]:
yes_count_by_resp=df[df["Closed"].isin(["yes", "no"])]
yes_count_by_resp

,ID,Pipeline,Repeat deal,Repeat inquiry,Stage,Responsible,Deal Name,Type,Source,Income,...,Contact: Created by,Contact: Created on,Contact: Modified by,Contact: Modified on,Contact: Educational Qualification,Contact: Select a Course,Contact: Select Educational Qualification,Contact: Select Year of Passing,Contact: Year of Passing,Contact: Sub Source(Tracking)
0,84490,Sales,N,Y,Tele Counselled,Sathiya Natarajan,"Complete CRM form ""Navbar & CTA""",not selected,Website,0,...,NaN,22.09.2025 01:58:52 pm,Sathiya Natarajan,22.09.2025 06:31:41 pm,NaN,NaN,NaN,NaN,2024,Why_Sk_HQ_03_SEP_12th_2025
1,84138,Sales,N,N,New Lead,Gayyo Lovees,"Complete CRM form ""IGS - Merit Based Scholarsh...",not selected,Influencer,0,...,NaN,21.09.2025 06:58:31 am,NaN,21.09.2025 06:58:31 am,NaN,Certification in Data Analytics,NaN,2024.0,NaN,jobs for you tamizha
2,80194,Sales,N,N,New Lead,Gayyo Lovees,"Complete CRM form ""IGS - Merit Based Scholarsh...",not selected,Influencer,0,...,NaN,12.09.2025 07:41:43 pm,NaN,12.09.2025 07:41:43 pm,NaN,Certification in Data Analytics,NaN,2023.0,NaN,jobs for you tamizha
3,77118,Sales,N,N,Tele Counselled,Kaveri C,"Complete CRM form ""Navbar & CTA""",not selected,Website,0,...,NaN,09.09.2025 08:29:20 am,NaN,09.09.2025 08:29:20 am,NaN,Certification in Data Analytics,Bachelor's Degree,2023.0,NaN,Navbar & CTA
4,89606,Sales,N,Y,Enquired Again,Navanitha Sakthi,"Complete CRM form ""Navbar & CTA""",not selected,Website,0,...,NaN,08.09.2025 01:10:25 pm,Ahila M,08.09.2025 01:15:07 pm,UG,NaN,NaN,NaN,2024,WHY TAP | SK - DA | CHENNAI
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1501,#####,Sales,N,N,Tele Counselled,Vignesh R,"Complete CRM form ""Why_Pk_4Q_Aug_20th_2025""",not selected,Meta AD,0,...,NaN,02.09.2025 09:46:43 pm,Vignesh R,05.09.2025 01:18:10 pm,B.com,NaN,NaN,NaN,2024,Why_Pk_4Q_Aug_20th_2025
1502,#####,Sales,N,N,Contact Attempted,Vignesh R,"Complete CRM form ""WHY TAP | SK - DA | CHENNAI""",not selected,Meta AD,0,...,NaN,02.09.2025 08:13:06 pm,NaN,02.09.2025 08:13:06 pm,MBA,NaN,NaN,NaN,2024,WHY TAP | SK - DA | CHENNAI
1503,#####,Sales,N,N,Contact Attempted,Vignesh R,"Complete CRM form ""Why_Pk_4Q_Aug_20th_2025""",not selected,Meta AD,0,...,NaN,02.09.2025 02:27:42 pm,NaN,02.09.2025 02:27:42 pm,B.A.(his),NaN,NaN,NaN,2024,Why_Pk_4Q_Aug_20th_2025
1504,#####,Sales,N,N,Other Courses,Vignesh R,"Complete CRM form ""WHY TAP | SK - DA | CHENNAI""",not selected,Meta AD,0,...,NaN,30.08.2025 10:49:06 am,NaN,30.08.2025 10:49:06 am,Bcom General,NaN,NaN,NaN,2024,WHY TAP | SK - DA | CHENNAI
1505,#####,Sales,N,N,Contact Attempted,Vignesh R,Lead #157346,not selected,Website,0,...,Rajalakshmi Govindarajan,03.08.2025 06:42:26 pm,Rajalakshmi Govindarajan,04.08.2025 03:48:08 pm,BBA,NaN,NaN,NaN,2024,NaN

In [281]:
sale_summary= yes_count_by_resp.groupby(["Responsible",'Course pitched']).size().reset_index(name="count")
sale_summary

                 Responsible                           Course pitched  count
0             Dhanalakshmi D                           Data Analytics      6
1             Dhanalakshmi D                        Digital Marketing     18
2             Dhanalakshmi D                                      FSD     13
3               Gayyo Lovees                             Data Science      1
4               Gayyo Lovees                        Digital Marketing     22
5               Gayyo Lovees                                      FSD      1
6                   Harini P                           Data Analytics      7
7                   Harini P                             Data Science      3
8                   Harini P                        Digital Marketing     62
9                   Harini P                                      FSD     12
10                  Harini P                                      MSD      2
11                  Kaveri C                           Data Analytics     19
12                  Kaveri C                        Digital Marketing     72
13                  Kaveri C                                      FSD     28
14                  Kaveri C                                      MSD     22
15         Meena Arunachalam                           Data Analytics     36
16         Meena Arunachalam                        Digital Marketing     11
17         Meena Arunachalam                                      FSD     18
18                 Monisha R                                      FSD      1
19          Navanitha Sakthi                                      FSD      3
20          Navanitha Sakthi                                      MSD      1
21              Naveen kumar  Basic to Advanced Video Editing with AI      1
22              Naveen kumar                           Data Analytics      5
23              Naveen kumar                        Digital Marketing      9
24              Naveen kumar                                      FSD      8
25          Pratheep Kumar P  Basic to Advanced Video Editing with AI      1
26          Pratheep Kumar P                           Data Analytics      6
27          Pratheep Kumar P                             Data Science      1
28          Pratheep Kumar P                        Digital Marketing     24
29          Pratheep Kumar P                                      FSD     18
30          Pratheep Kumar P                                      MSD      3
31  Rajalakshmi Govindarajan                           Data Analytics     29
32  Rajalakshmi Govindarajan                        Digital Marketing     38
33  Rajalakshmi Govindarajan                                      FSD     15
34  Rajalakshmi Govindarajan                                      MSD      1
35             Ramya Sathish                           Data Analytics     10
36             Ramya Sathish                        Digital Marketing     17
37             Ramya Sathish                                      FSD      7
38             Ramya Sathish                                      MSD      2
39         Sathiya Natarajan                           Data Analytics     31
40         Sathiya Natarajan                             Data Science      7
41         Sathiya Natarajan                        Digital Marketing     36
42         Sathiya Natarajan                                      MSD     30
43                Sophia N D                           Data Analytics     56
44                Sophia N D                             Data Science      1
45                Sophia N D                        Digital Marketing     36
46                Sophia N D                                      FSD     16
47          Supraja Baalajee                           Data Analytics      7
48          Supraja Baalajee                                      FSD      2
49                 Vignesh R                           Data Analytics      3
50                 Vignesh R                        Digital Marketing      7
51                 Vignesh R                                      FSD      1

In [ ]:
pivot_summary= sale_summary.pivot_table(
    index=['Responsible', 'Course pitched'],
    columns='Closed',
    values='count',
    fill_value=0
).reset_index()
pivot_summary

C:\Users\HP\AppData\Local\Temp\ipykernel_16856\1622320456.py:1: FutureWarning: The default value of observed=False is deprecated and will change to observed=True in a future version of pandas. Specify observed=False to silence this warning and retain the current behavior
  pivot_summary= sale_summary.pivot_table(

Closed Responsible                           Course pitched   no  yes
0          Ahila M  Basic to Advanced Video Editing with AI  0.0  0.0
1          Ahila M                           Data Analytics  0.0  0.0
2          Ahila M                             Data Science  0.0  0.0
3          Ahila M                        Digital Marketing  0.0  0.0
4          Ahila M                                      FSD  0.0  0.0
..             ...                                      ...  ...  ...
91       Vignesh R                           Data Analytics  2.0  1.0
92       Vignesh R                             Data Science  0.0  0.0
93       Vignesh R                        Digital Marketing  7.0  0.0
94       Vignesh R                                      FSD  1.0  0.0
95       Vignesh R                                      MSD  0.0  0.0

[96 rows x 4 columns]

In [294]:
sale_summary = yes_count_by_resp.groupby(["Responsible", "Course pitched", "Closed"]).size().reset_index(name="count")
sale_summary

C:\Users\HP\AppData\Local\Temp\ipykernel_16856\942520838.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  sale_summary = yes_count_by_resp.groupby(["Responsible", "Course pitched", "Closed"]).size().reset_index(name="count")

    Responsible                           Course pitched Closed  count
0       Ahila M  Basic to Advanced Video Editing with AI     no      0
1       Ahila M  Basic to Advanced Video Editing with AI    yes      0
2       Ahila M                           Data Analytics     no      0
3       Ahila M                           Data Analytics    yes      0
4       Ahila M                             Data Science     no      0
..          ...                                      ...    ...    ...
187   Vignesh R                        Digital Marketing    yes      0
188   Vignesh R                                      FSD     no      1
189   Vignesh R                                      FSD    yes      0
190   Vignesh R                                      MSD     no      0
191   Vignesh R                                      MSD    yes      0

[192 rows x 4 columns]

In [ ]:
pivot_summary = sale_summary.pivot_table(
    index=['Responsible', 'Course pitched'],
    columns='Closed',
    values='count',
    fill_value=0
).reset_index()
pivot_summary

C:\Users\HP\AppData\Local\Temp\ipykernel_16856\571553024.py:1: FutureWarning: The default value of observed=False is deprecated and will change to observed=True in a future version of pandas. Specify observed=False to silence this warning and retain the current behavior
  pivot_summary = sale_summary.pivot_table(

Closed Responsible                           Course pitched   no  yes
0          Ahila M  Basic to Advanced Video Editing with AI  0.0  0.0
1          Ahila M                           Data Analytics  0.0  0.0
2          Ahila M                             Data Science  0.0  0.0
3          Ahila M                        Digital Marketing  0.0  0.0
4          Ahila M                                      FSD  0.0  0.0
..             ...                                      ...  ...  ...
91       Vignesh R                           Data Analytics  2.0  1.0
92       Vignesh R                             Data Science  0.0  0.0
93       Vignesh R                        Digital Marketing  7.0  0.0
94       Vignesh R                                      FSD  1.0  0.0
95       Vignesh R                                      MSD  0.0  0.0

[96 rows x 4 columns]

In [68]:
with pd.ExcelWriter("whytapfile.xlsx", engine='openpyxl') as writer:
    high_cover.to_excel(writer, sheet_name='conversion', index=False)
    pivot_summary .to_excel(writer, sheet_name='Sales_count', index=False)
    result.to_excel(writer, sheet_name='DA', index=False)

In [318]:
df["Course pitched"]

0       Digital Marketing
1                     NaN
2                     NaN
3          Data Analytics
4                     NaN
              ...
1501    Digital Marketing
1502                  NaN
1503                  NaN
1504                  NaN
1505                  NaN
Name: Course pitched, Length: 1506, dtype: object

In [319]:
df["Contact: First name"],df["Course pitched"]==("Certification in Data Analytics")

(0           Jaya Priya
 1          Rajeshkumar
 2            Samuvel.M
 3             Subin SK
 4        Adhisriramesh
              ...
 1501    Santhosh kumar
 1502     SETHUPATHI. M
 1503        Adithyan C
 1504             Madan
 1505      Nirmal Kumar
 Name: Contact: First name, Length: 1506, dtype: object,
 0       False
 1       False
 2       False
 3       False
 4       False
         ...
 1501    False
 1502    False
 1503    False
 1504    False
 1505    False
 Name: Course pitched, Length: 1506, dtype: bool)

In [329]:
da_df = df[(df['Course pitched'] == 'Data Analytics') &(df["Closed"]=="yes")]

In [330]:
da_df

,ID,Pipeline,Repeat deal,Repeat inquiry,Stage,Responsible,Deal Name,Type,Source,Income,...,Contact: Created by,Contact: Created on,Contact: Modified by,Contact: Modified on,Contact: Educational Qualification,Contact: Select a Course,Contact: Select Educational Qualification,Contact: Select Year of Passing,Contact: Year of Passing,Contact: Sub Source(Tracking)
170,81526,Sales,NO,NO,Interested | Fees Not Affordable,Harini P,Asha,not selected,WhatsApp,0,...,Ahila M,14.09.2025 10:44:36 pm,Ahila M,14.09.2025 10:44:36 pm,NaN,NaN,NaN,NaN,NaN,WhatsApp
374,72556,Sales,NO,NO,Enrolled,Kaveri C,"Complete CRM form ""why tap - SQL -new""",not selected,Meta AD,60000,...,NaN,25.08.2025 09:28:08 am,NaN,11.09.2025 10:57:03 am,NaN,NaN,NaN,NaN,NaN,why tap - SQL -new
413,#####,Sales,NO,NO,Enrolled,Kaveri C,"Complete CRM form ""why tap - SQL -new""",not selected,Meta AD,60000,...,NaN,25.08.2025 09:28:08 am,NaN,11.09.2025 10:57:03 am,NaN,NaN,NaN,NaN,NaN,why tap - SQL -new
523,82222,Sales,NO,NO,Lost Deal,Meena Arunachalam,Kavi - DA,not selected,Meta AD,0,...,NaN,15.09.2025 03:51:53 pm,NaN,15.09.2025 03:51:53 pm,Masters,NaN,NaN,NaN,2023,WHY TAP | SK - DA | CHENNAI
526,79968,Sales,NO,NO,Lost Deal,Meena Arunachalam,Sanjay - DA,not selected,Meta AD,0,...,NaN,11.09.2025 11:23:58 pm,Meena Arunachalam,12.09.2025 06:55:59 pm,BSC,NaN,NaN,NaN,2023,Why_Sk_HQ_01_SEP_09th_2025
529,77864,Sales,NO,NO,Lost Deal,Meena Arunachalam,Harishankar - DA,not selected,Meta AD,0,...,NaN,10.09.2025 01:19:24 pm,Meena Arunachalam,10.09.2025 02:28:58 pm,job_seeker,NaN,NaN,NaN,2024,Why_Sk_HQ_02_SEP_09th_2025
567,#####,Sales,NO,NO,Lost Deal,Meena Arunachalam,Kavi - DA,not selected,Meta AD,0,...,NaN,15.09.2025 03:51:53 pm,NaN,15.09.2025 03:51:53 pm,Masters,NaN,NaN,NaN,2023,WHY TAP | SK - DA | CHENNAI
573,#####,Sales,NO,NO,Lost Deal,Meena Arunachalam,Sanjay - DA,not selected,Meta AD,0,...,NaN,11.09.2025 11:23:58 pm,Meena Arunachalam,12.09.2025 06:55:59 pm,BSC,NaN,NaN,NaN,2023,Why_Sk_HQ_01_SEP_09th_2025
608,#####,Sales,NO,NO,Lost Deal,Meena Arunachalam,"Complete CRM form ""Why_Sk_HQ_03_SEP_12th_2025""",not selected,Meta AD,0,...,Ajin G Das,15.09.2025 11:47:55 am,Ajin G Das,15.09.2025 11:47:55 am,NaN,NaN,NaN,NaN,2024,Why_Sk_HQ_03_SEP_12th_2025
617,#####,Sales,NO,NO,Lost Deal,Meena Arunachalam,Harishankar - DA,not selected,Meta AD,0,...,NaN,10.09.2025 01:19:24 pm,Meena Arunachalam,10.09.2025 02:28:58 pm,job_seeker,NaN,NaN,NaN,2024,Why_Sk_HQ_02_SEP_09th_2025
689,64686,Sales,NO,NO,Enrolled,Naveen kumar,Sivaranjini Raamu - Instagram,not selected,Instagram,0,...,Naveen kumar,05.08.2025 09:53:23 am,Naveen kumar,10.09.2025 10:52:25 am,NaN,NaN,NaN,NaN,NaN,NaN
730,#####,Sales,NO,NO,Enrolled,Naveen kumar,Sivaranjini Raamu - Instagram,not selected,Instagram,0,...,Naveen kumar,05.08.2025 09:53:23 am,Naveen kumar,10.09.2025 10:52:25 am,NaN,NaN,NaN,NaN,NaN,NaN
782,68176,Sales,NO,NO,Interested | Fees Not Affordable,Pratheep Kumar P,Lead #167110,not selected,WhatsApp,0,...,Naveen kumar,12.08.2025 12:03:42 pm,Naveen kumar,12.08.2025 12:03:42 pm,NaN,NaN,NaN,NaN,NaN,NaN
952,70480,Sales,NO,NO,Enrolled,Rajalakshmi Govindarajan,"Complete CRM form ""Candidate Information Form""",not selected,Student Reference,0,...,Rajalakshmi Govindarajan,19.08.2025 02:10:06 pm,Ajin G Das,20.08.2025 01:24:30 pm,BCA,NaN,Bachelor's Degree,2024.0,NaN,NaN
1201,84098,Sales,NO,NO,Other Courses,Sathiya Natarajan,"Complete CRM form ""why tap - SQL - form Dan jr...",not selected,Meta AD,0,...,NaN,20.09.2025 11:06:49 pm,NaN,20.09.2025 11:06:49 pm,MSC,NaN,NaN,NaN,NaN,why tap - SQL - form Dan jr video | 21/08/2025
1346,64918,Sales,NO,NO,Enrolled,Sophia N D,Bala,not selected,Call,25000,...,Sophia N D,06.08.2025 09:05:09 am,Ajin G Das,08.08.2025 02:53:02 pm,NaN,NaN,NaN,NaN,NaN,NaN
1351,61834,Sales,NO,NO,Enrolled,Sophia N D,Shamrin,Courses,Repeat sales,15000,...,Sophia N D,22.07.2025 11:40:34 am,Sophia N D,23.09.2025 07:24:26 am,NaN,NaN,NaN,NaN,NaN,NaN
1353,16896,Sales,NO,NO,Enrolled,Sophia N D,ARUN,Courses,Repeat sales,20000,...,Sophia N D,16.07.2025 02:06:13 am,Ajin G Das,06.08.2025 05:30:32 pm,NaN,NaN,NaN,NaN,NaN,NaN
1354,16894,Sales,NO,NO,Enrolled,Sophia N D,BABY SRUTHI,Courses,Repeat sales,30000,...,Sophia N D,16.07.2025 02:06:13 am,Sophia N D,16.07.2025 02:06:13 am,NaN,NaN,NaN,NaN,NaN,NaN
1411,#####,Sales,NO,NO,Enrolled,Sophia N D,Shamrin,Courses,Repeat sales,15000,...,Sophia N D,22.07.2025 11:40:34 am,Sophia N D,23.09.2025 07:24:26 am,NaN,NaN,NaN,NaN,NaN,NaN
1470,#####,Sales,NO,NO,Enrolled,Sophia N D,Bala,not selected,Call,25000,...,Sophia N D,06.08.2025 09:05:09 am,Ajin G Das,08.08.2025 02:53:02 pm,NaN,NaN,NaN,NaN,NaN,NaN
1473,#####,Sales,NO,NO,Lost Deal,Sophia N D,Vivek,not selected,Meta AD,0,...,Sophia N D,24.07.2025 03:54:56 pm,Sophia N D,24.07.2025 03:54:56 pm,NaN,NaN,NaN,NaN,2024,WHY TAP – Data Analyst- TN 01
1477,#####,Sales,NO,NO,Interested | Parents Rejected,Supraja Baalajee,"Complete CRM form ""WHY TAP – Data Analyst- TN 01""",not selected,Meta AD,0,...,Supraja Baalajee,05.08.2025 10:13:11 am,Supraja Baalajee,05.08.2025 10:13:11 am,NaN,NaN,NaN,NaN,1year and 5months,WHY TAP – Data Analyst- TN 01
1489,#####,Sales,NO,NO,Not Picking,Supraja Baalajee,"Complete CRM form ""WHY TAP – Data Analyst- TN 01""",not selected,Meta AD,0,...,Rajalakshmi Govindarajan,27.07.2025 02:22:28 am,Rajalakshmi Govindarajan,27.07.2025 02:22:28 am,NaN,NaN,NaN,NaN,2024,WHY TAP – Data Analyst- TN 01
1496,64504,Sales,NO,YES,Not Eligible,Vignesh R,"Complete CRM form ""LP - DA Link: https://whyta...",not selected,Google AD,0,...,Vignesh R,02.08.2025 01:10:46 am,Vignesh R,06.08.2025 02:45:02 pm,NaN,NaN,12th,2014.0,NaN,https://whytap.in/certification-in-data-analytics

In [331]:
result = da_df[['Responsible','Contact: First name', 'Course pitched']].reset_index()

In [332]:
result

    index               Responsible Contact: First name  Course pitched
0     170                  Harini P                Asha  Data Analytics
1     374                  Kaveri C      john william V  Data Analytics
2     413                  Kaveri C      john william V  Data Analytics
3     523         Meena Arunachalam                 கவி  Data Analytics
4     526         Meena Arunachalam              Sanjay  Data Analytics
5     529         Meena Arunachalam          Harisankar  Data Analytics
6     567         Meena Arunachalam                 கவி  Data Analytics
7     573         Meena Arunachalam              Sanjay  Data Analytics
8     608         Meena Arunachalam       BABYSHALINI R  Data Analytics
9     617         Meena Arunachalam          Harisankar  Data Analytics
10    689              Naveen kumar         Sivaranjini  Data Analytics
11    730              Naveen kumar         Sivaranjini  Data Analytics
12    782          Pratheep Kumar P             No name  Data Analytics
13    952  Rajalakshmi Govindarajan    Hemavathi Murali  Data Analytics
14   1201         Sathiya Natarajan          PRIYANGA M  Data Analytics
15   1346                Sophia N D           Balakumar  Data Analytics
16   1351                Sophia N D             Shamrin  Data Analytics
17   1353                Sophia N D                ARUN  Data Analytics
18   1354                Sophia N D         BABY SRUTHI  Data Analytics
19   1411                Sophia N D             Shamrin  Data Analytics
20   1470                Sophia N D           Balakumar  Data Analytics
21   1473                Sophia N D          Vivek Bond  Data Analytics
22   1477          Supraja Baalajee            Sanjay.S  Data Analytics
23   1489          Supraja Baalajee               Jeeva  Data Analytics
24   1496                 Vignesh R      Laibar Hussain  Data Analytics

In [333]:
df["Repeat inquiry"]=df["Repeat inquiry"].replace('Y', "YES")

In [304]:
df["Repeat inquiry"]=df["Repeat inquiry"].replace("N", "NO")

In [305]:
df["Repeat deal"]=df["Repeat deal"].replace('Y', "YES")

In [306]:
df["Repeat deal"]=df["Repeat deal"].replace("N", "NO")

In [307]:
df.head(2)

,ID,Pipeline,Repeat deal,Repeat inquiry,Stage,Responsible,Deal Name,Type,Source,Income,...,Contact: Created by,Contact: Created on,Contact: Modified by,Contact: Modified on,Contact: Educational Qualification,Contact: Select a Course,Contact: Select Educational Qualification,Contact: Select Year of Passing,Contact: Year of Passing,Contact: Sub Source(Tracking)
0,84490,Sales,NO,YES,Tele Counselled,Sathiya Natarajan,"Complete CRM form ""Navbar & CTA""",not selected,Website,0,...,NaN,22.09.2025 01:58:52 pm,Sathiya Natarajan,22.09.2025 06:31:41 pm,NaN,NaN,NaN,NaN,2024,Why_Sk_HQ_03_SEP_12th_2025
1,84138,Sales,NO,NO,New Lead,Gayyo Lovees,"Complete CRM form ""IGS - Merit Based Scholarsh...",not selected,Influencer,0,...,NaN,21.09.2025 06:58:31 am,NaN,21.09.2025 06:58:31 am,NaN,Certification in Data Analytics,NaN,2024.0,NaN,jobs for you tamizha

In [ ]:

grouped = df.groupby('Contact: Educational Qualification')['Course pitched'].value_counts().reset_index()
grouped

,Contact: Educational Qualification,Course pitched,count
0,12+diploma,Certification in Data Analytics,1
1,12th,PG Certification in AI powered Full Stack Deve...,1
2,12th pass and bsc computer science 2year I am ...,PG Certification in AI powered Digital Marketing,1
3,8098783393,Certification in Data Analytics,1
4,9344759243,PG Certification in AI powered Digital Marketing,1
...,...,...,...
190,postgraduate_(pg),PG Certification in AI powered Full Stack Deve...,2
191,postgraduate_(pg),Certification in Data Analytics,1
192,student,Certification in Data Analytics,4
193,student,PG Certification in AI powered Digital Marketing,4
194,student,PG Certification in AI powered Full Stack Deve...,3

In [75]:
grouped = (df.groupby('Contact: Educational Qualification')['Course pitched'].value_counts().reset_index(name='Count').sort_values(by='Count', ascending=False))
grouped

    Contact: Educational Qualification     Course pitched  Count
54                                 BSC  Digital Marketing     27
18                               B.com  Digital Marketing     27
48                                  BE  Digital Marketing     23
100                                MBA  Digital Marketing     21
19                               B.com     Data Analytics     20
..                                 ...                ...    ...
108                                MCA       Data Science      1
119                                bba       Data Science      1
115                               Mcom     Data Analytics      1
130                non-it_professional                MSD      1
132                  postgraduate_(pg)     Data Analytics      1

[136 rows x 3 columns]

In [263]:
df["Contact: Educational Qualification"]=df["Contact: Educational Qualification"].replace("Bsc CS","BSC")
df["Contact: Educational Qualification"]=df["Contact: Educational Qualification"].replace("Bsc IT","BSC")
df["Contact: Educational Qualification"]=df["Contact: Educational Qualification"].replace("BSC computer science","BSC")
df["Contact: Educational Qualification"]=df["Contact: Educational Qualification"].replace("Bsc Maths","BSC")
df["Contact: Educational Qualification"]=df["Contact: Educational Qualification"].replace("B.sc maths","BSC")
df["Contact: Educational Qualification"]=df["Contact: Educational Qualification"].replace("B.sc computer science","BSC")
df["Contact: Educational Qualification"]=df["Contact: Educational Qualification"].replace("B.sc","BSC")
df["Contact: Educational Qualification"]=df["Contact: Educational Qualification"].replace("B.Sc Information Technology","BSC")
df["Contact: Educational Qualification"]=df["Contact: Educational Qualification"].replace("bsc it","BSC")
df["Contact: Educational Qualification"]=df["Contact: Educational Qualification"].replace("Bsc physics","BSC")
df["Contact: Educational Qualification"]=df["Contact: Educational Qualification"].replace("Bsc computer science","BSC")
df["Contact: Educational Qualification"]=df["Contact: Educational Qualification"].replace("BSc.,AGRICULTURE","BSC")
df["Contact: Educational Qualification"]=df["Contact: Educational Qualification"].replace("BSC. Computer science","BSC")
df["Contact: Educational Qualification"]=df["Contact: Educational Qualification"].replace("Bsc Cs","BSC")
df["Contact: Educational Qualification"]=df["Contact: Educational Qualification"].replace("Bsc.CS","BSC")
df["Contact: Educational Qualification"]=df["Contact: Educational Qualification"].replace("Bsc visual communication","BSC")
df["Contact: Educational Qualification"]=df["Contact: Educational Qualification"].replace("Bsc.Computer science","BSC")
df["Contact: Educational Qualification"]=df["Contact: Educational Qualification"].replace("Bsc Mathematics with computer applications","BSC")
df["Contact: Educational Qualification"]=df["Contact: Educational Qualification"].replace("Bsc chemistry,mba","BSC")
df["Contact: Educational Qualification"]=df["Contact: Educational Qualification"].replace("Bsc microbiology","BSC")
df["Contact: Educational Qualification"]=df["Contact: Educational Qualification"].replace("Bsc(nursing)","BSC")
df["Contact: Educational Qualification"]=df["Contact: Educational Qualification"].replace("Msc","MSC")
df["Contact: Educational Qualification"]=df["Contact: Educational Qualification"].replace("Msc Biotechnology","MSC")
df["Contact: Educational Qualification"]=df["Contact: Educational Qualification"].replace("Msc CS","MSC")
df["Contact: Educational Qualification"]=df["Contact: Educational Qualification"].replace("Msc Chemistry","MSC")
df["Contact: Educational Qualification"]=df["Contact: Educational Qualification"].replace("Msc Computer Science","MSC")
df["Contact: Educational Qualification"]=df["Contact: Educational Qualification"].replace("Msc Costume design and fashion in psg College of arts and science coimbatore","MSC")
df["Contact: Educational Qualification"]=df["Contact: Educational Qualification"].replace("Msc Maths","MSC")
df["Contact: Educational Qualification"]=df["Contact: Educational Qualification"].replace("Msc Microbiology","MSC")
df["Contact: Educational Qualification"]=df["Contact: Educational Qualification"].replace("Msc Physics","MSC")
df["Contact: Educational Qualification"]=df["Contact: Educational Qualification"].replace("Msc botany","MSC")
df["Contact: Educational Qualification"]=df["Contact: Educational Qualification"].replace("Msc computer science","MSC")
df["Contact: Educational Qualification"]=df["Contact: Educational Qualification"].replace("Msc data analytics","MSC")
df["Contact: Educational Qualification"]=df["Contact: Educational Qualification"].replace("Msc information technology","MSC")
df["Contact: Educational Qualification"]=df["Contact: Educational Qualification"].replace("Msc physics","MSC")
df["Contact: Educational Qualification"]=df["Contact: Educational Qualification"].replace("Msc, Microbiology","MSC")
df["Contact: Educational Qualification"]=df["Contact: Educational Qualification"].replace("MBA F&O","MBA")
df["Contact: Educational Qualification"]=df["Contact: Educational Qualification"].replace("MBA HR","MBA")
df["Contact: Educational Qualification"]=df["Contact: Educational Qualification"].replace("MBA in marketing and IT analytics","MBA")
df["Contact: Educational Qualification"]=df["Contact: Educational Qualification"].replace("MBA ( FINANCE/ HR )","MBA")
df["Contact: Educational Qualification"]=df["Contact: Educational Qualification"].replace("MBA 2025 passout in specialization of hr and finance","MBA")
df["Contact: Educational Qualification"]=df["Contact: Educational Qualification"].replace("M.B.A","MBA")
df["Contact: Educational Qualification"]=df["Contact: Educational Qualification"].replace("Mba","MBA")
df["Contact: Educational Qualification"]=df["Contact: Educational Qualification"].replace("B. tech/ MBA","MBA")
df["Contact: Educational Qualification"]=df["Contact: Educational Qualification"].replace("Bcom, MBA","MBA")
df["Contact: Educational Qualification"]=df["Contact: Educational Qualification"].replace("Bcom, MBA","MBA")
df["Contact: Educational Qualification"]=df["Contact: Educational Qualification"].replace("Mba","MBA")
df["Contact: Educational Qualification"]=df["Contact: Educational Qualification"].replace("BE and MBA","MBA")
df["Contact: Educational Qualification"]=df["Contact: Educational Qualification"].replace("Bcom, MBA","MBA")
df["Contact: Educational Qualification"]=df["Contact: Educational Qualification"].replace("B. tech/ MBA","MBA")
df["Contact: Educational Qualification"]=df["Contact: Educational Qualification"].replace("B.com, MBA hr","MBA")
df["Contact: Educational Qualification"]=df["Contact: Educational Qualification"].replace("B.com ca MBA hr","MBA")
df["Contact: Educational Qualification"]=df["Contact: Educational Qualification"].replace("B.Com (Computer Applications)","MBA")
df["Contact: Educational Qualification"]=df["Contact: Educational Qualification"].replace("B.com","B.com")
df["Contact: Educational Qualification"]=df["Contact: Educational Qualification"].replace("b.com","B.com")
df["Contact: Educational Qualification"]=df["Contact: Educational Qualification"].replace("B.com CA","B.com")
df["Contact: Educational Qualification"]=df["Contact: Educational Qualification"].replace("B.com ca","B.com")
df["Contact: Educational Qualification"]=df["Contact: Educational Qualification"].replace("B.com corporate secretaryship","B.com")
df["Contact: Educational Qualification"]=df["Contact: Educational Qualification"].replace("B.com CS","B.com")
df["Contact: Educational Qualification"]=df["Contact: Educational Qualification"].replace("B.com general","B.com")
df["Contact: Educational Qualification"]=df["Contact: Educational Qualification"].replace("B.com general final year student","B.com")
df["Contact: Educational Qualification"]=df["Contact: Educational Qualification"].replace("B.Com(Business Analytics)","B.com")
df["Contact: Educational Qualification"]=df["Contact: Educational Qualification"].replace("B.com.c.a","B.com")
df["Contact: Educational Qualification"]=df["Contact: Educational Qualification"].replace("Bcom","B.com")
df["Contact: Educational Qualification"]=df["Contact: Educational Qualification"].replace("B com","B.com")
df["Contact: Educational Qualification"]=df["Contact: Educational Qualification"].replace("B com","B.com")
df["Contact: Educational Qualification"]=df["Contact: Educational Qualification"].replace("Santhoshkumar B.COM","B.com")
df["Contact: Educational Qualification"]=df["Contact: Educational Qualification"].replace("Bcom ISM","B.com")
df["Contact: Educational Qualification"]=df["Contact: Educational Qualification"].replace("Bcom general competed","B.com")
df["Contact: Educational Qualification"]=df["Contact: Educational Qualification"].replace("Bcom cs","B.com")
df["Contact: Educational Qualification"]=df["Contact: Educational Qualification"].replace("Bcom CA","B.com")
df["Contact: Educational Qualification"]=df["Contact: Educational Qualification"].replace("BCom","B.com")
df["Contact: Educational Qualification"]=df["Contact: Educational Qualification"].replace("Bcom computer application","B.com")
df["Contact: Educational Qualification"]=df["Contact: Educational Qualification"].replace("B","B.com")
df["Contact: Educational Qualification"]=df["Contact: Educational Qualification"].replace("Bsc Agri","BSC")
df["Contact: Educational Qualification"]=df["Contact: Educational Qualification"].replace("Bsc chemistry","BSC")
df["Contact: Educational Qualification"]=df["Contact: Educational Qualification"].replace("Bsc chemistry","BSC")
df["Contact: Educational Qualification"]=df["Contact: Educational Qualification"].replace("Bsc chemistry","BSC")
df["Contact: Educational Qualification"]=df["Contact: Educational Qualification"].replace("BSC Computer science","BSC")
df["Contact: Educational Qualification"]=df["Contact: Educational Qualification"].replace("Bsc Computer Science","BSC")
df["Contact: Educational Qualification"]=df["Contact: Educational Qualification"].replace("Bsc cs","BSC")
df["Contact: Educational Qualification"]=df["Contact: Educational Qualification"].replace("BSC maths","BSC")
df["Contact: Educational Qualification"]=df["Contact: Educational Qualification"].replace("BSC Multimedia animation","BSC")
df["Contact: Educational Qualification"]=df["Contact: Educational Qualification"].replace("Bsc Viscom","BSC")
df["Contact: Educational Qualification"]=df["Contact: Educational Qualification"].replace("B sc Data Science","BSC")
df["Contact: Educational Qualification"]=df["Contact: Educational Qualification"].replace("Bsc.CS","BSC")
df["Contact: Educational Qualification"]=df["Contact: Educational Qualification"].replace("12th pass and bsc computer science 2year I am study","BSC")
df["Contact: Educational Qualification"]=df["Contact: Educational Qualification"].replace("Bsc","BSC")
df["Course pitched"]=df["Course pitched"].replace("PG Certification in AI powered Digital Marketing","Digital Marketing")
df["Course pitched"]=df["Course pitched"].replace("Certification in Data Analytics","Data Analytics")
df["Course pitched"]=df["Course pitched"].replace("PG Certification in AI powered Data Science","Data Science")
df["Course pitched"]=df["Course pitched"].replace("PG Certification in AI powered Full Stack Development","FSD")
df["Course pitched"]=df["Course pitched"].replace("PG Certification in MERN Stack Development","MSD")
df["Contact: Educational Qualification"]=df["Contact: Educational Qualification"].replace("B Sc. Maths","BSC")
df["Contact: Educational Qualification"]=df["Contact: Educational Qualification"].replace("B. Sc., chemistry","BSC")
df["Contact: Educational Qualification"]=df["Contact: Educational Qualification"].replace("B. SC VISCOM","BSC")
df["Contact: Educational Qualification"]=df["Contact: Educational Qualification"].replace("Bca","BCA")
df["Contact: Educational Qualification"]=df["Contact: Educational Qualification"].replace("BCA 2020-2023","BSC")
df["Contact: Educational Qualification"]=df["Contact: Educational Qualification"].replace("Be","BE")
df["Contact: Educational Qualification"]=df["Contact: Educational Qualification"].replace("BE (ECE)","BE")
df["Contact: Educational Qualification"]=df["Contact: Educational Qualification"].replace("BE Aeronautical","BE")
df["Contact: Educational Qualification"]=df["Contact: Educational Qualification"].replace("BE Bio Medical","BE")
df["Contact: Educational Qualification"]=df["Contact: Educational Qualification"].replace("BE Biomedical engg","BE")
df["Contact: Educational Qualification"]=df["Contact: Educational Qualification"].replace("BE Civil","BE")
df["Contact: Educational Qualification"]=df["Contact: Educational Qualification"].replace("BE civil engineering","BE")
df["Contact: Educational Qualification"]=df["Contact: Educational Qualification"].replace("BE computer science Engineering","BE")
df["Contact: Educational Qualification"]=df["Contact: Educational Qualification"].replace("BE CS","BE")
df["Contact: Educational Qualification"]=df["Contact: Educational Qualification"].replace("BE CSE","BE")
df["Contact: Educational Qualification"]=df["Contact: Educational Qualification"].replace("BE ECE","BE")
df["Contact: Educational Qualification"]=df["Contact: Educational Qualification"].replace("Be in ece","BE")
df["Contact: Educational Qualification"]=df["Contact: Educational Qualification"].replace("BE Mech","BE")
df["Contact: Educational Qualification"]=df["Contact: Educational Qualification"].replace("BE mech","BE")
df["Contact: Educational Qualification"]=df["Contact: Educational Qualification"].replace("BE MECHANICAL","BE")
df["Contact: Educational Qualification"]=df["Contact: Educational Qualification"].replace("BE(ece)","BE")
df["Contact: Educational Qualification"]=df["Contact: Educational Qualification"].replace("Be.cs","BE")
df["Contact: Educational Qualification"]=df["Contact: Educational Qualification"].replace("be.eee","BE")
df["Contact: Educational Qualification"]=df["Contact: Educational Qualification"].replace("B. E","BE")
df["Contact: Educational Qualification"]=df["Contact: Educational Qualification"].replace("B. E (cse)","BE")
df["Contact: Educational Qualification"]=df["Contact: Educational Qualification"].replace("B. E mech","BE")
df["Contact: Educational Qualification"]=df["Contact: Educational Qualification"].replace("B.E","BE")
df["Contact: Educational Qualification"]=df["Contact: Educational Qualification"].replace("B.E (EEE)","BE")
df["Contact: Educational Qualification"]=df["Contact: Educational Qualification"].replace("B.E cse","BE")
df["Contact: Educational Qualification"]=df["Contact: Educational Qualification"].replace("B.E EEE","BE")
df["Contact: Educational Qualification"]=df["Contact: Educational Qualification"].replace("B.E Mechanical Engineering","BE")
df["Contact: Educational Qualification"]=df["Contact: Educational Qualification"].replace("B.E(mechanical)","BE")
df["Contact: Educational Qualification"]=df["Contact: Educational Qualification"].replace("B.E. Computer Science And Engineering","BE")
df["Contact: Educational Qualification"]=df["Contact: Educational Qualification"].replace("B.E-ECE","BE")
df["Contact: Educational Qualification"]=df["Contact: Educational Qualification"].replace("BE cs","BE")
df["Contact: Educational Qualification"]=df["Contact: Educational Qualification"].replace("M.sc","MSC")
df["Contact: Educational Qualification"]=df["Contact: Educational Qualification"].replace("M. Sc (Statistics)","MSC")
df["Contact: Educational Qualification"]=df["Contact: Educational Qualification"].replace("M.sc., Chemistry","MSC")
df["Contact: Educational Qualification"]=df["Contact: Educational Qualification"].replace("M.sc., IT","MSC")
df["Contact: Educational Qualification"]=df["Contact: Educational Qualification"].replace("MSC Biotech","MSC")
df["Contact: Educational Qualification"]=df["Contact: Educational Qualification"].replace("MSc computer science","MSC")
df["Contact: Educational Qualification"]=df["Contact: Educational Qualification"].replace("Msc Computer science","MSC")
df["Contact: Educational Qualification"]=df["Contact: Educational Qualification"].replace("MSC IT","MSC")
df["Contact: Educational Qualification"]=df["Contact: Educational Qualification"].replace("Msg computer science","MSC")

In [274]:
df["Contact: Educational Qualification"]=df["Contact: Educational Qualification"].replace("mca","MCA")
df["Contact: Educational Qualification"]=df["Contact: Educational Qualification"].replace("I am MCA completed in 2024","MCA")
df["Contact: Educational Qualification"]=df["Contact: Educational Qualification"].replace("Mca","MCA")
df["Contact: Educational Qualification"]=df["Contact: Educational Qualification"].replace("MCA","MCA")
df["Contact: Educational Qualification"]=df["Contact: Educational Qualification"].replace("Master of Computer Application (MCA)","MCA")
df["Contact: Educational Qualification"]=df["Contact: Educational Qualification"].replace("Master of Computer Application (MCA)","MCA")
df["Contact: Educational Qualification"]=df["Contact: Educational Qualification"].replace("Master of computer Application","MCA")
df["Contact: Educational Qualification"]=df["Contact: Educational Qualification"].replace("Bba","BBA")
df["Contact: Educational Qualification"]=df["Contact: Educational Qualification"].replace("BBA Logistics","BBA")
df["Contact: Educational Qualification"]=df["Contact: Educational Qualification"].replace("BBA ug","BBA")
df["Contact: Educational Qualification"]=df["Contact: Educational Qualification"].replace("B.B.A","BBA")
df["Contact: Educational Qualification"]=df["Contact: Educational Qualification"].replace("BBA (distance)","BBA")
df["Contact: Educational Qualification"]=df["Contact: Educational Qualification"].replace("BBA in IBM","BBA")
df["Contact: Educational Qualification"]=df["Contact: Educational Qualification"].replace("bba","BBA")
df["Contact: Educational Qualification"]=df["Contact: Educational Qualification"].replace("Bachelor of Business Administration","BBA")
df["Contact: Educational Qualification"]=df["Contact: Educational Qualification"].replace("B.B.A","BBA")
df["Contact: Educational Qualification"]=df["Contact: Educational Qualification"].replace("I completed MBA with specialization in marketing field","MBA")
df["Contact: Educational Qualification"]=df["Contact: Educational Qualification"].replace("B. Com","B.com")

In [275]:
grouped = (df.groupby('Contact: Educational Qualification')['Course pitched'].value_counts().reset_index(name='Count').sort_values(by='Count', ascending=False))
grouped

    Contact: Educational Qualification     Course pitched  Count
15                               B.com  Digital Marketing     29
49                                 BSC  Digital Marketing     27
16                               B.com     Data Analytics     24
43                                  BE  Digital Marketing     23
92                                 MBA  Digital Marketing     22
..                                 ...                ...    ...
95                                 MBA                FSD      1
107                               Mcom     Data Analytics      1
100                                MCA       Data Science      1
121                non-it_professional                MSD      1
123                  postgraduate_(pg)     Data Analytics      1

[127 rows x 3 columns]

In [276]:
df

,ID,Pipeline,Repeat deal,Repeat inquiry,Stage,Responsible,Deal Name,Type,Source,Income,...,Contact: Created by,Contact: Created on,Contact: Modified by,Contact: Modified on,Contact: Educational Qualification,Contact: Select a Course,Contact: Select Educational Qualification,Contact: Select Year of Passing,Contact: Year of Passing,Contact: Sub Source(Tracking)
0,84490,Sales,N,Y,Tele Counselled,Sathiya Natarajan,"Complete CRM form ""Navbar & CTA""",not selected,Website,0,...,NaN,22.09.2025 01:58:52 pm,Sathiya Natarajan,22.09.2025 06:31:41 pm,NaN,NaN,NaN,NaN,2024,Why_Sk_HQ_03_SEP_12th_2025
1,84138,Sales,N,N,New Lead,Gayyo Lovees,"Complete CRM form ""IGS - Merit Based Scholarsh...",not selected,Influencer,0,...,NaN,21.09.2025 06:58:31 am,NaN,21.09.2025 06:58:31 am,NaN,Certification in Data Analytics,NaN,2024.0,NaN,jobs for you tamizha
2,80194,Sales,N,N,New Lead,Gayyo Lovees,"Complete CRM form ""IGS - Merit Based Scholarsh...",not selected,Influencer,0,...,NaN,12.09.2025 07:41:43 pm,NaN,12.09.2025 07:41:43 pm,NaN,Certification in Data Analytics,NaN,2023.0,NaN,jobs for you tamizha
3,77118,Sales,N,N,Tele Counselled,Kaveri C,"Complete CRM form ""Navbar & CTA""",not selected,Website,0,...,NaN,09.09.2025 08:29:20 am,NaN,09.09.2025 08:29:20 am,NaN,Certification in Data Analytics,Bachelor's Degree,2023.0,NaN,Navbar & CTA
4,89606,Sales,N,Y,Enquired Again,Navanitha Sakthi,"Complete CRM form ""Navbar & CTA""",not selected,Website,0,...,NaN,08.09.2025 01:10:25 pm,Ahila M,08.09.2025 01:15:07 pm,UG,NaN,NaN,NaN,2024,WHY TAP | SK - DA | CHENNAI
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1501,#####,Sales,N,N,Tele Counselled,Vignesh R,"Complete CRM form ""Why_Pk_4Q_Aug_20th_2025""",not selected,Meta AD,0,...,NaN,02.09.2025 09:46:43 pm,Vignesh R,05.09.2025 01:18:10 pm,B.com,NaN,NaN,NaN,2024,Why_Pk_4Q_Aug_20th_2025
1502,#####,Sales,N,N,Contact Attempted,Vignesh R,"Complete CRM form ""WHY TAP | SK - DA | CHENNAI""",not selected,Meta AD,0,...,NaN,02.09.2025 08:13:06 pm,NaN,02.09.2025 08:13:06 pm,MBA,NaN,NaN,NaN,2024,WHY TAP | SK - DA | CHENNAI
1503,#####,Sales,N,N,Contact Attempted,Vignesh R,"Complete CRM form ""Why_Pk_4Q_Aug_20th_2025""",not selected,Meta AD,0,...,NaN,02.09.2025 02:27:42 pm,NaN,02.09.2025 02:27:42 pm,B.A.(his),NaN,NaN,NaN,2024,Why_Pk_4Q_Aug_20th_2025
1504,#####,Sales,N,N,Other Courses,Vignesh R,"Complete CRM form ""WHY TAP | SK - DA | CHENNAI""",not selected,Meta AD,0,...,NaN,30.08.2025 10:49:06 am,NaN,30.08.2025 10:49:06 am,Bcom General,NaN,NaN,NaN,2024,WHY TAP | SK - DA | CHENNAI
1505,#####,Sales,N,N,Contact Attempted,Vignesh R,Lead #157346,not selected,Website,0,...,Rajalakshmi Govindarajan,03.08.2025 06:42:26 pm,Rajalakshmi Govindarajan,04.08.2025 03:48:08 pm,BBA,NaN,NaN,NaN,2024,NaN

In [336]:
unique_qualifications = (
    pd.Series(df['Contact: Educational Qualification'].dropna().astype(str).unique())
    .sort_values()
    .reset_index(drop=True)
    .reset_index()
)

unique_qualifications.columns = ['Index', 'Educational Qualification']
print(unique_qualifications)

     Index                    Educational Qualification
0        0  "I’m in the final year of my B.Com degree".
1        1                                           10
2        2                                         10th
3        3                                   12+diploma
4        4                                         12th
..     ...                                          ...
215    215                          non-it_professional
216    216                            postgraduate_(pg)
217    217                                      student
218    218                           undergraduate_(ug)
219    219                                          ʙʙᴀ

[220 rows x 2 columns]

In [337]:
unique_qualifications = (
    pd.Series(df['Contact: Educational Qualification'].dropna().astype(str).unique())
    .sort_values()
    .reset_index(drop=True)
    .reset_index()
)

unique_qualifications.columns = ['Index', 'Educational Qualification']
print(unique_qualifications)

     Index                    Educational Qualification
0        0  "I’m in the final year of my B.Com degree".
1        1                                           10
2        2                                         10th
3        3                                   12+diploma
4        4                                         12th
..     ...                                          ...
215    215                          non-it_professional
216    216                            postgraduate_(pg)
217    217                                      student
218    218                           undergraduate_(ug)
219    219                                          ʙʙᴀ

[220 rows x 2 columns]

In [339]:
with pd.ExcelWriter("whytapfile.xlsx", engine='openpyxl') as writer:
    high_cover.to_excel(writer, sheet_name='conversion', index=False)
    pivot_summary .to_excel(writer, sheet_name='Sales_count', index=False)
    result.to_excel(writer, sheet_name='DA', index=False)
    unique_qualifications.to_excel(writer, sheet_name='edu', index=False)
    grouped.to_excel(writer, sheet_name='qual', index=False)
    month_wise.to_excel(writer, sheet_name='month_wise', index=False)

In [268]:
Conversion_performance= df.groupby("Source")["Closed"].value_counts().unstack(fill_value=0)
high_cover=Conversion_performance.sort_values(by=["yes","no"],ascending=[False,False]).reset_index()

In [338]:
df

,ID,Pipeline,Repeat deal,Repeat inquiry,Stage,Responsible,Deal Name,Type,Source,Income,...,Contact: Created by,Contact: Created on,Contact: Modified by,Contact: Modified on,Contact: Educational Qualification,Contact: Select a Course,Contact: Select Educational Qualification,Contact: Select Year of Passing,Contact: Year of Passing,Contact: Sub Source(Tracking)
0,84490,Sales,NO,YES,Tele Counselled,Sathiya Natarajan,"Complete CRM form ""Navbar & CTA""",not selected,Website,0,...,NaN,22.09.2025 01:58:52 pm,Sathiya Natarajan,22.09.2025 06:31:41 pm,NaN,NaN,NaN,NaN,2024,Why_Sk_HQ_03_SEP_12th_2025
1,84138,Sales,NO,NO,New Lead,Gayyo Lovees,"Complete CRM form ""IGS - Merit Based Scholarsh...",not selected,Influencer,0,...,NaN,21.09.2025 06:58:31 am,NaN,21.09.2025 06:58:31 am,NaN,Certification in Data Analytics,NaN,2024.0,NaN,jobs for you tamizha
2,80194,Sales,NO,NO,New Lead,Gayyo Lovees,"Complete CRM form ""IGS - Merit Based Scholarsh...",not selected,Influencer,0,...,NaN,12.09.2025 07:41:43 pm,NaN,12.09.2025 07:41:43 pm,NaN,Certification in Data Analytics,NaN,2023.0,NaN,jobs for you tamizha
3,77118,Sales,NO,NO,Tele Counselled,Kaveri C,"Complete CRM form ""Navbar & CTA""",not selected,Website,0,...,NaN,09.09.2025 08:29:20 am,NaN,09.09.2025 08:29:20 am,NaN,Certification in Data Analytics,Bachelor's Degree,2023.0,NaN,Navbar & CTA
4,89606,Sales,NO,YES,Enquired Again,Navanitha Sakthi,"Complete CRM form ""Navbar & CTA""",not selected,Website,0,...,NaN,08.09.2025 01:10:25 pm,Ahila M,08.09.2025 01:15:07 pm,UG,NaN,NaN,NaN,2024,WHY TAP | SK - DA | CHENNAI
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1501,#####,Sales,NO,NO,Tele Counselled,Vignesh R,"Complete CRM form ""Why_Pk_4Q_Aug_20th_2025""",not selected,Meta AD,0,...,NaN,02.09.2025 09:46:43 pm,Vignesh R,05.09.2025 01:18:10 pm,B.com,NaN,NaN,NaN,2024,Why_Pk_4Q_Aug_20th_2025
1502,#####,Sales,NO,NO,Contact Attempted,Vignesh R,"Complete CRM form ""WHY TAP | SK - DA | CHENNAI""",not selected,Meta AD,0,...,NaN,02.09.2025 08:13:06 pm,NaN,02.09.2025 08:13:06 pm,MBA,NaN,NaN,NaN,2024,WHY TAP | SK - DA | CHENNAI
1503,#####,Sales,NO,NO,Contact Attempted,Vignesh R,"Complete CRM form ""Why_Pk_4Q_Aug_20th_2025""",not selected,Meta AD,0,...,NaN,02.09.2025 02:27:42 pm,NaN,02.09.2025 02:27:42 pm,B.A.(his),NaN,NaN,NaN,2024,Why_Pk_4Q_Aug_20th_2025
1504,#####,Sales,NO,NO,Other Courses,Vignesh R,"Complete CRM form ""WHY TAP | SK - DA | CHENNAI""",not selected,Meta AD,0,...,NaN,30.08.2025 10:49:06 am,NaN,30.08.2025 10:49:06 am,Bcom General,NaN,NaN,NaN,2024,WHY TAP | SK - DA | CHENNAI
1505,#####,Sales,NO,NO,Contact Attempted,Vignesh R,Lead #157346,not selected,Website,0,...,Rajalakshmi Govindarajan,03.08.2025 06:42:26 pm,Rajalakshmi Govindarajan,04.08.2025 03:48:08 pm,BBA,NaN,NaN,NaN,2024,NaN

In [269]:
month=df.groupby("Created")["Closed"].value_counts().unstack(fill_value=0)

In [270]:
month

Closed      no  yes
Created
2025-01-08  13    9
2025-01-09  12    1
2025-01-10  20    2
2025-02-08   9    4
2025-02-09  20    3
...         ..  ...
2025-10-10   3    0
2025-11-08   8    2
2025-11-09  14    8
2025-12-08   7    3
2025-12-09  17    3

[88 rows x 2 columns]

In [201]:
month_yes=month_yess.sort_values(by=["yes","no"],ascending=[False,False]).reset_index()

In [124]:

# Group by 'Created' and count 'Closed' values
month = df.groupby("Created")["Closed"].value_counts().unstack(fill_value=0)

# Filter rows where 'yes' count is greater than 0
month_yess = month[month["yes"] > 0]

print(month_yess)

Closed               no  yes
Created
2025-01-08 08:37:07   0    1
2025-01-08 09:51:22   0    1
2025-01-08 11:49:20   0    1
2025-01-08 12:43:34   0    1
2025-01-08 16:41:56   0    1
...                  ..  ...
2025-12-08 12:25:34   0    1
2025-12-08 17:36:05   0    1
2025-12-09 13:16:09   0    1
2025-12-09 18:47:47   0    1
2025-12-09 22:36:48   0    1

[275 rows x 2 columns]

In [178]:
df_yes = df[df["Closed"] == "yes"]

In [231]:
month_wise= df_yes.groupby("Course pitched")["Month"].value_counts().reset_index().sort_values(by="count",ascending=False)
month_wise

       Course pitched   Month  count
9   Digital Marketing  Jul-25     18
10  Digital Marketing  Aug-25     10
0      Data Analytics  Jul-25      6
1      Data Analytics  May-25      5
11  Digital Marketing  Sep-25      5
2      Data Analytics  Sep-25      5
19                FSD  Oct-25      4
12  Digital Marketing  Apr-25      4
24                MSD  Sep-25      4
18                FSD  Jul-25      4
3      Data Analytics  Aug-25      3
20                FSD  Aug-25      3
13  Digital Marketing  Jan-25      3
25                MSD  Aug-25      2
22                FSD  Sep-25      2
5      Data Analytics  Oct-25      2
4      Data Analytics  Nov-25      2
16  Digital Marketing  Oct-25      2
15  Digital Marketing  May-25      2
14  Digital Marketing  Jun-25      2
21                FSD  May-25      2
8        Data Science  Jul-25      1
6      Data Analytics  Apr-25      1
7      Data Analytics  Dec-25      1
17  Digital Marketing  Feb-25      1
23                FSD  Nov-25      1
26                MSD  Feb-25      1
27                MSD  Mar-25      1

In [204]:
df['Created']=pd.to_datetime(df['Created'])
df["Created"]

C:\Users\HP\AppData\Local\Temp\ipykernel_16856\3015420661.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Created']=pd.to_datetime(df['Created'])

0      2025-09-01
1      2025-09-01
2      2025-12-01
3      2025-09-01
4      2025-09-01
          ...
1501   2025-02-01
1502   2025-02-01
1503   2025-02-01
1504   2025-08-01
1505   2025-03-01
Name: Created, Length: 1506, dtype: datetime64[ns]

In [205]:
df["month"]=df["Created"].dt.strftime("%B-%Y")

In [ ]:
df["month"]

0       September-2025
1       September-2025
2        December-2025
3       September-2025
4       September-2025
             ...
1501     February-2025
1502     February-2025
1503     February-2025
1504       August-2025
1505        March-2025
Name: Created, Length: 1506, dtype: object

In [271]:
Conversion_performance= df.groupby("Source")["Closed"].value_counts().unstack(fill_value=0)
Conversion_performance

Closed              no  yes
Source
CRM form            21    4
Call                15    5
E-Mail               1    0
Event                1    1
Google AD           23   15
Influencer          11    0
Instagram           48    6
Meta AD            816  182
Repeat sales        17   10
Student Reference    2    1
Walk-in              5    1
Website             62   12
WhatsApp           173   66
not selected         0    1

In [284]:
yes= df.groupby("Responsible")["Closed"].value_counts().unstack(fill_value=0)
yes

Closed                     no  yes
Responsible
Ahila M                     2    0
Dhanalakshmi D             37    5
Gayyo Lovees               48    1
Harini P                  139   49
Kaveri C                  149   43
Meena Arunachalam         110   32
Monisha R                   2    0
Navanitha Sakthi           40    0
Naveen kumar               55    9
Pratheep Kumar P          143   19
Rajalakshmi Govindarajan  142   18
Ramya Sathish              47   74
Sathiya Natarajan         110   15
Sophia N D                153   31
Supraja Baalajee           12    4
Vignesh R                  13    4

In [285]:
sale_summary= yes_count_by_resp.groupby(["Responsible",'Course pitched']).size().reset_index(name="count")
sale_summary

                 Responsible                           Course pitched  count
0             Dhanalakshmi D                           Data Analytics      6
1             Dhanalakshmi D                        Digital Marketing     18
2             Dhanalakshmi D                                      FSD     13
3               Gayyo Lovees                             Data Science      1
4               Gayyo Lovees                        Digital Marketing     22
5               Gayyo Lovees                                      FSD      1
6                   Harini P                           Data Analytics      7
7                   Harini P                             Data Science      3
8                   Harini P                        Digital Marketing     62
9                   Harini P                                      FSD     12
10                  Harini P                                      MSD      2
11                  Kaveri C                           Data Analytics     19
12                  Kaveri C                        Digital Marketing     72
13                  Kaveri C                                      FSD     28
14                  Kaveri C                                      MSD     22
15         Meena Arunachalam                           Data Analytics     36
16         Meena Arunachalam                        Digital Marketing     11
17         Meena Arunachalam                                      FSD     18
18                 Monisha R                                      FSD      1
19          Navanitha Sakthi                                      FSD      3
20          Navanitha Sakthi                                      MSD      1
21              Naveen kumar  Basic to Advanced Video Editing with AI      1
22              Naveen kumar                           Data Analytics      5
23              Naveen kumar                        Digital Marketing      9
24              Naveen kumar                                      FSD      8
25          Pratheep Kumar P  Basic to Advanced Video Editing with AI      1
26          Pratheep Kumar P                           Data Analytics      6
27          Pratheep Kumar P                             Data Science      1
28          Pratheep Kumar P                        Digital Marketing     24
29          Pratheep Kumar P                                      FSD     18
30          Pratheep Kumar P                                      MSD      3
31  Rajalakshmi Govindarajan                           Data Analytics     29
32  Rajalakshmi Govindarajan                        Digital Marketing     38
33  Rajalakshmi Govindarajan                                      FSD     15
34  Rajalakshmi Govindarajan                                      MSD      1
35             Ramya Sathish                           Data Analytics     10
36             Ramya Sathish                        Digital Marketing     17
37             Ramya Sathish                                      FSD      7
38             Ramya Sathish                                      MSD      2
39         Sathiya Natarajan                           Data Analytics     31
40         Sathiya Natarajan                             Data Science      7
41         Sathiya Natarajan                        Digital Marketing     36
42         Sathiya Natarajan                                      MSD     30
43                Sophia N D                           Data Analytics     56
44                Sophia N D                             Data Science      1
45                Sophia N D                        Digital Marketing     36
46                Sophia N D                                      FSD     16
47          Supraja Baalajee                           Data Analytics      7
48          Supraja Baalajee                                      FSD      2
49                 Vignesh R                           Data Analytics      3
50                 Vignesh R                        Digital Marketing      7
51                 Vignesh R                                      FSD      1

In [290]:
pivot_summary = sale_summary.pivot_table(
    index=['Responsible', 'Course pitched'],
    columns='Closed',
    values='count',
    fill_value=0
).reset_index()
pivot_summary

C:\Users\HP\AppData\Local\Temp\ipykernel_16856\571553024.py:1: FutureWarning: The default value of observed=False is deprecated and will change to observed=True in a future version of pandas. Specify observed=False to silence this warning and retain the current behavior
  pivot_summary = sale_summary.pivot_table(

Closed Responsible                           Course pitched   no  yes
0          Ahila M  Basic to Advanced Video Editing with AI  0.0  0.0
1          Ahila M                           Data Analytics  0.0  0.0
2          Ahila M                             Data Science  0.0  0.0
3          Ahila M                        Digital Marketing  0.0  0.0
4          Ahila M                                      FSD  0.0  0.0
..             ...                                      ...  ...  ...
91       Vignesh R                           Data Analytics  2.0  1.0
92       Vignesh R                             Data Science  0.0  0.0
93       Vignesh R                        Digital Marketing  7.0  0.0
94       Vignesh R                                      FSD  1.0  0.0
95       Vignesh R                                      MSD  0.0  0.0

[96 rows x 4 columns]

In [334]:
da_df = df[(df['Course pitched'] == 'Data Analytics') &(df["Closed"] == "yes" )]
result = da_df[['Responsible','Contact: First name', 'Course pitched']].reset_index()

result

    index               Responsible Contact: First name  Course pitched
0     170                  Harini P                Asha  Data Analytics
1     374                  Kaveri C      john william V  Data Analytics
2     413                  Kaveri C      john william V  Data Analytics
3     523         Meena Arunachalam                 கவி  Data Analytics
4     526         Meena Arunachalam              Sanjay  Data Analytics
5     529         Meena Arunachalam          Harisankar  Data Analytics
6     567         Meena Arunachalam                 கவி  Data Analytics
7     573         Meena Arunachalam              Sanjay  Data Analytics
8     608         Meena Arunachalam       BABYSHALINI R  Data Analytics
9     617         Meena Arunachalam          Harisankar  Data Analytics
10    689              Naveen kumar         Sivaranjini  Data Analytics
11    730              Naveen kumar         Sivaranjini  Data Analytics
12    782          Pratheep Kumar P             No name  Data Analytics
13    952  Rajalakshmi Govindarajan    Hemavathi Murali  Data Analytics
14   1201         Sathiya Natarajan          PRIYANGA M  Data Analytics
15   1346                Sophia N D           Balakumar  Data Analytics
16   1351                Sophia N D             Shamrin  Data Analytics
17   1353                Sophia N D                ARUN  Data Analytics
18   1354                Sophia N D         BABY SRUTHI  Data Analytics
19   1411                Sophia N D             Shamrin  Data Analytics
20   1470                Sophia N D           Balakumar  Data Analytics
21   1473                Sophia N D          Vivek Bond  Data Analytics
22   1477          Supraja Baalajee            Sanjay.S  Data Analytics
23   1489          Supraja Baalajee               Jeeva  Data Analytics
24   1496                 Vignesh R      Laibar Hussain  Data Analytics

In [335]:
grouped = df.groupby('Contact: Educational Qualification')['Course pitched'].value_counts().reset_index()
grouped

    Contact: Educational Qualification     Course pitched  count
0                           12+diploma     Data Analytics      1
1                                 12th                FSD      1
2                           8098783393     Data Analytics      1
3                           9344759243  Digital Marketing      1
4                           9384533188  Digital Marketing      1
..                                 ...                ...    ...
122                  postgraduate_(pg)                FSD      2
123                  postgraduate_(pg)     Data Analytics      1
124                            student     Data Analytics      4
125                            student  Digital Marketing      4
126                            student                FSD      3

[127 rows x 3 columns]